<div class="container">
    <div class="row align-items-center">
        <!-- Text Column -->
        <div class="col-md-6 text-center text-md-start mb-4 mb-md-0">
            <h3 class="fw-bold">Iris Murillo</h3>
            <span class="text-muted">Fullstack Developer</span>
            <!-- Tagline -->
            <h1 class="mt-5 text-center fw-semibold fs-4 fs-md-2">
                Experienced Full Stack Developer | React & Next.js Specialist | Web & Mobile App Enthusiast
            </h1>
        </div>

        <!-- Image Column -->
        <div class="col-md-6 text-center">
            <img src="photo.jpg" class="img-fluid rounded shadow" width="300" height="300" alt="Profile Picture" />
        </div>
    </div>

</div>