<h2>About Me</h2>
<p>As a passionate and dedicated software developer I began learning IT at a very young age.<br>
    Over the past four years, I have been developing my Fullstack skills. Focusing on building
    innovative and robust webs and apps using new technologies with client communication, API
    integration and AI features.<br>
    Additionally, I have experience with Docker, GIT, AI, AWS, Google Cloud, Scrum method,
    Trello/Jira, microservices, and CI/CD pipelines.<br><br>

    Alongside my React, Typescript and Node.js expertise, I have worked with HTML, CSS, Flutter,
    Next, Angular and more.
</p>