<div class="container">
    <div class="row justify-content-center">
        <div class="col-lg-10">
            <h2 class="mb-4 fw-bold text-center">About Me</h2>
            <div class="paragraph text-muted">
                <p>As a passionate and dedicated software developer, I began learning IT at a very young age.</p>
                <p>Over the past four years, I have been developing my Fullstack skills, focusing on building
                    innovative and robust web and mobile apps using new technologies — including client communication,
                    API
                    integration, and AI features.</p>
                <p>
                    Additionally, I have experience with Docker, GIT, AI, AWS, Google Cloud, Scrum methodology,
                    Trello/Jira,
                    microservices, and CI/CD pipelines.
                </p>
                <p>
                    Alongside my React, TypeScript, and Node.js expertise, I have also worked with HTML, CSS, Flutter,
                    Next.js, Angular, and more.</p>
            </div>
        </div>
    </div>
</div>